/* Styles for the floor form */
.passageway-form {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: auto; /* Center the form on the page */
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .input-container {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }
  
  .input-container label {
    flex: 1;
    margin-bottom: 0;
  }
  
  .input-container input,
  .input-container select,
  .input-container textarea {
    flex: 1;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  .input-container select {
    width: 100%; /* Make the select element fill the container */
  }
  
  label {
    display: block;
    margin-bottom: 6px;
    color: #555;
  }
  
  textarea {
    width: 100%;
    resize: vertical; /* Allow vertical resizing of textarea */
  }
  
  input:focus,
  select:focus,
  textarea:focus {
    border-color: #2684ff;
  }
  
  button {
    width: 100%;
    background-color: #2684ff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #0e5aa7;
  }
  
  .validation-error {
    color: #dc3545;
    margin: 0.4em;
    border-left: 3px solid #dc3545;
    padding-left: 0.2em;
  }
  