<form class="map-form" id="buildingForm" (ngSubmit)="submit()" [formGroup]="mapForm" #formDir="ngForm">
  <h1>Load a map</h1>
  <div class="input-container">
    <label for="code1">Building</label>
    <select id="code1" formControlName="buildingCode" (change)="getFloorsOfBuilding()" required>
      <option *ngFor="let code of buildings" [value]="code.code">{{ code.code }}</option>
    </select>
    <div *ngIf="buildingCode?.invalid && formDir.submitted" class="validation-error">
      <p *ngIf="buildingCode?.errors?.['required']">Code is required!</p>
    </div>
    <label for="code2">Floor</label>
    <select id="code2" formControlName="floorCode" (change)="getFloorElements()" required>
      <option *ngFor="let code of floors" [value]="code.code">{{ code.code }}</option>
    </select>
    <div *ngIf="floorCode?.invalid && formDir.submitted" class="validation-error">
      <p *ngIf="floorCode?.errors?.['required']">Code is required!</p>
    </div>
    <button type="submit">Submit</button>
  </div>
</form>
<form [formGroup]="form">
  <table>
    <tr *ngFor="let row of matrix.controls; let i = index" formArrayName="matrix">
      <td *ngFor="let cell of row.value; let j = index">
        <input
          type="number"
          min="0"
          max="3"
          [formControl]="getCellControl(i, j)"
          (change)="onCellValueChange(i, j)"
        />
      </td>
    </tr>
  </table>
</form>



