<form class="map-form" id="buildingForm" (ngSubmit)="submit()" [formGroup]="mapForm" #formDir="ngForm">
  <h1>Load a map</h1>
  <div class="input-container">
    <label for="code1">Building</label>
    <select id="code1" formControlName="buildingCode" required>
      <option *ngFor="let code of buildingsCodes" [value]="code">{{ code }}</option>
    </select>
    <div *ngIf="buildingCode?.invalid && formDir.submitted" class="validation-error">
      <p *ngIf="buildingCode?.errors?.['required']">Code is required!</p>
    </div>
    <label for="code2">Floor</label>
    <input type="number" id="code2" formControlName="floorNumber" required>
    <div *ngIf="floorNumber?.invalid && formDir.submitted" class="validation-error">
      <p *ngIf="floorNumber?.errors?.['required']">Code is required!</p>
    </div>
    <label for="code3">Length</label>
    <input type="number" id="code3" formControlName="length" required min="1">
    <div *ngIf="length?.invalid && formDir.submitted" class="validation-error">
      <p *ngIf="length?.errors?.['required']">Length is required!</p>
    </div>
    <button type="button" (click)="confirmLength()">Add</button>
    <label for="code4">Width</label>
    <input type="number" id="code4" formControlName="width" required min="1" >
    <div *ngIf="width?.invalid && formDir.submitted" class="validation-error">
      <p *ngIf="width?.errors?.['required']">Width is required!</p>
    </div>
    <button type="button" (click)="confirmWidth()">Add</button>
    <table>
      <tr *ngFor="let row of matrix; let i = index">
        <td *ngFor="let cell of row; let j = index">
          <input
            type="number"
            min="0"
            max="3"
          />
        </td>
      </tr>
    </table>
  </div>
  <button type="submit">Submit</button>
</form>


