table {
  width: 80%;
  border-collapse: collapse;
  border: 2px solid black;
  margin-top: 30px;
}

thead {
  background-color: #f2f2f2;
}

th, td {
  padding: 8px;
  text-align: center; /* Centraliza o conteúdo */
  border: 1px solid black;
}

tbody tr:hover {
  background-color: #f9f9f9;
}
