<!DOCTYPE html>
<html>
<header>
  <title>{{ title }}</title>
</header>
<body>
<div class="topnav">
  <a (click)="clear()" routerLink="/home">Home</a>
  <a routerLink="/about">About</a>
  <a routerLink="/me">Account</a>
</div>
<div (click)="openSidebar()" id="menu-button">&#9776;</div>
<div (click)="closeSidebar()" id="toggle-sidebar-button">&#8592;</div>
<div *ngIf="isCampusManager" class="sidebar" id="sidebar">
  <a (click)="buildingCreateForm()">Create building</a>
  <a (click)="buildingEditForm()">Edit building</a>
  <a (click)="buildingList()">List building</a>
  <a (click)="floorCreateForm()">Create floor</a>
  <a (click)="floorsByBuildingCodeList()">Get floors by building</a>
  <a (click)="editFloorForm()">Edit floor</a>
  <a (click)="createElevatorForm()">Create elevator</a>
  <a (click)="passagewayCreateForm()">Create passageway</a>
  <a (click)="patchMapForm()">Patch map</a>
  <a (click)="listPassagewaysBetween2BuildingsForm()">List passageways between 2 buildings</a>
  <a (click)="editPassagewayForm()">Edit passageway</a>
  <a (click)="floorsWithPassagewayForm()">List floors of a building with passageways</a>
  <a (click)="buildingsByFloorRangeForm()">List buildings with a floor range</a>
  <a (click)="createRoomForm()">Create a room</a>
  <a (click)="taskRequestForm()">Request task</a>
</div>
<div *ngIf="isFleetManager" class="sidebar" id="sidebar">
  <a (click)="createRobotForm()">Create robot</a>
  <a (click)="deactivateRobotForm()">Deactivate robot</a>
  <a (click)="createRobotTypeForm()">Create robot type</a>
  <a (click)="taskRequestForm()">Request task</a>
</div>
<div *ngIf="isTaskManager" class="sidebar" id="sidebar">
  <a (click)="planeamentoForm()">Get Path</a>
  <a (click)="updateTaskForm()">Handle task requests</a>
  <a (click)="taskRequestForm()">Request task</a>
</div>
<div *ngIf="isAdministrator" class="sidebar" id="sidebar">
  <a (click)="signUpRequestForm()">Handle requests</a>
  <a (click)="taskRequestForm()">Request task</a>
</div>
<div *ngIf="isUser" class="sidebar" id="sidebar">
  <a (click)="taskRequestForm()">Request task</a>
</div>
<div *ngIf="home_body" id="content">
  <h1>Home page</h1>
  <p>Home page content goes here</p>
</div>
<div *ngIf="createBuilding" id="content">
  <app-building></app-building>
</div>
<div *ngIf="createFloor" id="content">
  <app-floor></app-floor>
</div>
<div *ngIf="floorsByBuildingCode" id="content">
  <app-floor-by-building></app-floor-by-building>
</div>
<div *ngIf="editBuilding" id="content">
  <app-edit-building></app-edit-building>
</div>
<div *ngIf="listBuilding" id="content">
  <app-list-building></app-list-building>
</div>
<div *ngIf="createRobot" id="content">
  <app-create-robot></app-create-robot>
</div>
<div *ngIf="deactivateRobot" id="content">
  <app-deactivate-robot></app-deactivate-robot>
</div>
<div *ngIf="createRobotType" id="content">
  <app-create-robot-type></app-create-robot-type>
</div>
<div *ngIf="createElevator" id="content">
  <app-elevator></app-elevator>
</div>
<div *ngIf="createPassageway" id="content">
  <app-create-passageway></app-create-passageway>
</div>
<div *ngIf="patchMap" id="content">
  <app-patch-map></app-patch-map>
</div>
<div *ngIf="listPassagewaysBetween2Buildings" id="content">
  <app-list-passageways-between-2-buildings></app-list-passageways-between-2-buildings>
</div>
<div *ngIf="editFloor" id="content">
  <app-edit-floor></app-edit-floor>
</div>
<div *ngIf="editPassageway" id="content">
  <app-edit-passageway></app-edit-passageway>
</div>
<div *ngIf="floorsWithPassageway" id="content">
  <app-floors-with-passageway></app-floors-with-passageway>
</div>
<div *ngIf="buildingsByFloorRange" id="content">
  <app-buildings-by-floor-range></app-buildings-by-floor-range>
</div>
<div *ngIf="createRoom" id="content">
  <app-create-room></app-create-room>
</div>
<div *ngIf="pathBetweenFloors" id="content">
  <app-planeamento></app-planeamento>
</div>
<div *ngIf="signUp" id="content">
  <app-sign-up></app-sign-up>
</div>
<div *ngIf="signUpRequest" id="content">
  <app-request></app-request>
</div>
<div *ngIf="taskRequest" id="content">
  <app-task-request></app-task-request>
</div>
<div *ngIf="updateTask" id="content">
  <app-task-request-update></app-task-request-update>
</div>
</body>
</html>
