<form [formGroup]="planeamentoForm">
  <h1>Get Path</h1>

  <!-- Origin Building Code -->
  <div class="input-container">
    <label for="buildingCode1">Origin Building Code</label>
    <input type="text" id="buildingCode1" formControlName="buildingCode1" placeholder="Enter Building code" required>
    <div *ngIf="!buildingCode1?.value && planeamentoForm.get('buildingCode1')?.touched" class="validation-error">
      <p>Building Code is required!</p>
    </div>
  </div>

  <!-- Get Floors (Origin) Button -->
  <button type="button" (click)="getFloorsByBuildingCode()">Get Floors (Origin)</button>

  <!-- Display Floors (Origin) -->
  <div *ngIf="floors && floors.length > 0" class="floors-container">
    <h2>Floors:</h2>
    <ul>
      <li *ngFor="let floor of floors">{{ floor | json }}</li>
    </ul>
  </div>
  <div *ngIf="floors && floors.length === 0" class="no-floors-container">
    <p>No floors found</p>
  </div>

  <!-- Choose Origin Floor Number -->
  <div class="input-container">
    <label for="origin">Choose Origin Floor Number</label>
    <input type="number" id="origin" formControlName="origin" placeholder="Enter Floor number" required>
  </div>

  <!-- Destination Building Code -->
  <div class="input-container">
    <label for="buildingCode2">Destination Building Code</label>
    <input type="text" id="buildingCode2" formControlName="buildingCode2" placeholder="Enter Building code" required>
    <div *ngIf="!buildingCode2?.value && planeamentoForm.get('buildingCode2')?.touched" class="validation-error">
      <p>Building Code is required!</p>
    </div>
  </div>

  <!-- Get Floors (Destination) Button -->
  <button type="button" (click)="getFloorsByBuildingCode2()">Get Floors (Destination)</button>

  <!-- Display Floors (Destination) -->
  <div *ngIf="floors && floors.length > 0" class="floors-container">
    <h2>Floors:</h2>
    <ul>
      <li *ngFor="let floor of floors">{{ floor | json }}</li>
    </ul>
  </div>
  <div *ngIf="floors && floors.length === 0" class="no-floors-container">
    <p>No floors found</p>
  </div>

  <!-- Choose Destination Floor Number -->
  <div class="input-container">
    <label for="destination">Choose Destination Floor Number</label>
    <input type="number" id="destination" formControlName="destination" placeholder="Enter Floor number" required>
  </div>

  <!-- Calculate Path Button -->
  <button type="button" (click)="definePath()">Calculate path</button>

  <!-- Display Calculated Path -->
  <div *ngIf="result" class="calculated-path-container">
    <h2>Calculated Path:</h2>
    <p>{{ result | json }}</p>
  </div>
</form>
