<form class="floor-form" id="floorForm" (ngSubmit)="getFloorsByBuildingCode()" [formGroup]="floorForm" #formDir="ngForm">
  <h1>Get Floors by Building Code</h1>
  <div class="input-container">
    <label for="buildingCode">Building Code</label>
    <input type="text" id="buildingCode" formControlName="code" placeholder="Enter Building code" required>
    <div *ngIf="!code && formDir.submitted" class="validation-error">
      <p>Building Code is required!</p>
    </div>
  </div>
  <button type="submit">Get Floors</button>
</form>

<div *ngIf="floors && floors.length > 0" class="floors-container">
  <h2>Floors:</h2>
  <ul>
    <li *ngFor="let floor of floors">{{ floor | json }}</li>
  </ul>
</div>
<div *ngIf="floors && floors.length === 0" class="no-floors-container">
  <p>No floors found</p>
</div>
