.update-form-container {
  max-width: 400px;
  margin: auto;
}

h2 {
  color: #333;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

input {
  padding: 8px;
  margin-top: 5px;
  width: 100%;
}

.error-message {
  color: red;
  margin-top: 5px;
}
