<!DOCTYPE html>
<html lang="en">
<form class="form" id="form" (ngSubmit)="submit()" [formGroup]="form" #formDir="ngForm">
  <h1>Sign up</h1>
  <div class="input-container">
    <label for="fname">First name</label>
    <input type="text" id="fname" formControlName="firstName" placeholder="First name" required>
    <div *ngIf="firstName?.invalid && formDir.submitted" class="validation-error">
      <p *ngIf="firstName?.errors?.['required']">First name is required!</p>
    </div>
    <label for="lname">Last name</label>
    <input type="text" id="lname" formControlName="lastName" placeholder="Last name" required>
    <div *ngIf="lastName?.invalid && formDir.submitted" class="validation-error">
      <p *ngIf="lastName?.errors?.['required']">Last name is required!</p>
    </div>
    <label for="nif">NIF</label>
    <input type="text" id="nif" formControlName="nif" placeholder="NIF" required>
    <div *ngIf="nif?.invalid && formDir.submitted" class="validation-error">
      <p *ngIf="nif?.errors?.['required']">NIF is required!</p>
    </div>
    <label for="email">Email</label>
    <input type="email" id="email" formControlName="email" placeholder="Email" required>
    <div *ngIf="email?.invalid && formDir.submitted" class="validation-error">
      <p *ngIf="email?.errors?.['required']">Email is required!</p>
    </div>
    <label for="password">Password</label>
    <input type="password" id="password" formControlName="password" placeholder="Password" required>
    <div *ngIf="password?.invalid && formDir.submitted" class="validation-error">
      <p *ngIf="password?.errors?.['required']">Password is required!</p>
    </div>
    <button type="submit">Submit</button>
  </div>
</form>
<div *ngIf="conditions" class="modal-overlay">
  <div class="modal-content">
    <h1>POLÍTICA DE PRIVACIDADE</h1>
    <p><strong>Última atualização:</strong> 02/01/2024.</p>

    <p>O site de RobDroneGo é propriedade de Instituto Superior de Engenharia do Porto, que é uma controladora dos seus dados pessoais.</p>

    <p>Nós adotamos esta Política de Privacidade, que determina como processamos as informações recolhidas por RobDroneGo, que também fornece os motivos pelos quais devemos recolher certos dados pessoais sobre si. Portanto, deve ler esta Política de Privacidade antes de usar o site RobDroneGo.</p>

    <p>Cuidamos dos seus dados pessoais e comprometemo-nos a garantir a sua confidencialidade e segurança.</p>

    <p>Salvo indicação em contrário, esta Política descreve e rege as práticas de recolha, utilização e partilha de informações do Instituto Superior de Engenharia do Porto relativamente à sua utilização do nosso sítio Web <a href="https://robdronego.com">https://robdronego.com</a> e dos serviços que fornecemos e/ou alojamos nos nossos servidores.</p>

    <p>Antes de utilizar ou enviar qualquer informação através ou em ligação com os Serviços, reveja cuidadosamente esta Política de Privacidade. Ao utilizar qualquer parte dos Serviços, o utilizador compreende que as suas informações serão recolhidas, utilizadas e divulgadas conforme descrito na presente Política de Privacidade.</p>

    <p>Se não concordar com esta política de privacidade, não utilize os nossos Serviços.</p>

    <h2>Nossos Princípios</h2>
    <p>O Instituto Superior de Engenharia do Porto concebeu esta política de forma a ser coerente com os seguintes princípios:</p>
    <ul>
      <li>As políticas de privacidade devem ser legíveis e fáceis de encontrar.</li>
      <li>A recolha, o armazenamento e o processamento de dados devem ser simplificados tanto quanto possível para aumentar a segurança, garantir a consistência e tornar as práticas fáceis de compreender pelos utilizadores.</li>
      <li>As práticas relativas aos dados devem corresponder às expectativas razoáveis dos utilizadores.</li>
    </ul>

    <h2>Informações que Recolhemos</h2>
    <p>Recolhemos informações apenas de uma única forma que é quando o utilizador nos fornece informações diretamente no momento de registo na aplicação.</p>

    <h2>Informações que nos fornece diretamente</h2>
    <p>Recolheremos apenas as informações que pediremos no momento de requisição de registo por sua parte na aplicação web. Estas informações incluem o seu nome, endereço de correio eletrónico, número de identificação fiscal e uma palavra-passe.</p>

    <h3>Como utilizamos as suas informações</h3>
    <p>Poderemos utilizar as informações que recolhemos de e sobre o utilizador para:</p>

    <table>
      <thead>
      <tr>
        <th>Dado</th>
        <th>Finalidade</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Nome</td>
        <td>A recolha do nome durante o processo de registo tem como objetivo principal a personalização da experiência do utilizador e a identificação inequívoca dos indivíduos associados à nossa plataforma. Ao obter o nome, visamos proporcionar um ambiente mais personalizado e interativo, permitindo-nos dirigir-nos aos utilizadores de forma mais personalizada e facilitar a comunicação individualizada.</td>
      </tr>
      <!-- Repetir a estrutura da tabela para os outros dados -->
      <tr>
        <td>Endereço de correio eletrónico</td>
        <td>A obtenção do endereço de e-mail durante o processo de registo destina-se a ser utilizada como identificador único para a autenticação do utilizador no nosso sistema. O endereço de e-mail é uma informação crucial para garantir a segurança da conta, permitindo a recuperação de senha, a comunicação de informações importantes sobre a conta e a facilitação de um processo seguro de login.</td>
      </tr>
      <!-- Repetir a estrutura da tabela para os outros dados -->
      <tr>
        <td>Número de identificação fiscal</td>
        <td>A obtenção do Número de Identificação Fiscal (NIF) durante o processo de registo tem como finalidade principal a criação de um histórico personalizado dos serviços fornecidos aos utilizadores na nossa plataforma. O NIF será utilizado para associar as atividades, requisições de tarefas e transações específicas a cada utilizador, permitindo a construção de um registo detalhado e individualizado.</td>
      </tr>
      <!-- Repetir a estrutura da tabela para os outros dados -->
      <tr>
        <td>Palavra-passe</td>
        <td>A recolha da palavra-passe durante o processo de registo tem como objetivo salvaguardar a segurança da conta do utilizador. A palavra-passe é essencial para autenticar e proteger o acesso à sua conta na nossa plataforma, garantindo a confidencialidade e a integridade das informações pessoais e transações associadas.</td>
      </tr>
      </tbody>
    </table>

    <p>Tenha em atenção que podemos combinar as informações que recolhemos do utilizador e sobre o utilizador (incluindo informações recolhidas automaticamente) com informações que obtemos sobre o utilizador junto das nossas filiais e/ou de terceiros não filiais e utilizar essas informações combinadas de acordo com a presente Política de Privacidade.</p>

    <p>Podemos agregar e/ou desidentificar informações recolhidas através dos Serviços. Podemos utilizar dados não identificados e/ou agregados para qualquer fim, incluindo, sem limitação, para fins de investigação, marketing, ou utilização de credenciais do utilizador para autenticação em serviços externos relacionados com a nossa web app.</p>

    <h2>Categoria de destinatários dos dados</h2>
    <p>Os dados recolhidos durante o registo e utilização da nossa plataforma serão tratados com a máxima confidencialidade e não serão partilhados com terceiros, salvo nos casos especificados abaixo:</p>

    <ul>
      <li><strong>Serviços Internos:</strong> Os dados fornecidos pelos utilizadores podem ser partilhados com equipas internas que desempenham funções essenciais para a operação da plataforma. Isso inclui, mas não se limita a equipas de suporte ao cliente, desenvolvimento de software e gestão de sistemas.</li>

      <li><strong>Parceiros de Processamento de Pagamentos:</strong> Caso exista a necessidade de processamento de transações financeiras, os dados relacionados com pagamentos podem ser partilhados com parceiros de processamento de pagamentos. Estas entidades serão escolhidas com base em padrões rigorosos de segurança e conformidade.</li>

      <li><strong>Cumprimento Legal:</strong> Em situações em que seja requerido por lei ou por processos legais, os dados do utilizador podem ser partilhados com autoridades competentes para cumprir com obrigações legais.</li>

      <li><strong>Futuras Afiliações ou Parcerias:</strong> Embora, atualmente, não tenhamos empresas afiliadas ou termos contratuais que exijam partilha de dados consentidos pelo utilizador, não excluímos a possibilidade de estabelecer tais afiliações no futuro. Caso isso ocorra, os utilizadores serão notificados e o consentimento será solicitado conforme exigido pela legislação aplicável.</li>
    </ul>

    <p>É importante destacar que, dado o caráter temporário do projeto e a intenção de manter os dados apenas durante o período de vigência da aplicação, todos os esforços serão envidados para garantir a eliminação segura e definitiva dos dados quando a aplicação encerrar os seus serviços.</p>

    <h2>Prazo de Conservação</h2>
    <p>Os dados pessoais fornecidos pelos utilizadores serão conservados até o final do semestre correspondente à licenciatura em Engenharia Informática do ISEP, alinhado com os requisitos académicos do projeto integrador. Este prazo de conservação visa manter a integridade e a consistência do projeto durante a sua execução.</p>

    <p>É importante salientar que, mesmo com a eliminação da conta, determinados dados serão retidos em registos específicos da aplicação para manter a coesão e a transparência nas ações realizadas pelo utilizador.</p>

    <p>Estes registos podem incluir informações como o endereço de e-mail associado a uma requisição de tarefa ou outras ações relevantes para a operação dos serviços fornecidos.</p>

    <p>A eliminação da conta não afetará a integridade dos registos relacionados às ações do utilizador, uma vez que estes podem ser essenciais para fins de auditoria, garantindo uma trilha de atividades dentro da aplicação. No entanto, todos os dados pessoais associados ao utilizador serão removidos conforme solicitado, assegurando a privacidade e a conformidade com as preferências do utilizador.</p>

    <h2>Escolhas do Utilizador e Direitos dos Titulares dos Dados</h2>
    <p>O utilizador tem vários direitos no que diz respeito à recolha e utilização das suas informações através dos Serviços. Essas opções são as seguintes:</p>

    <h3>Preferências da Conta</h3>
    <p>Se se registou numa conta connosco através dos nossos Serviços, pode atualizar as informações da sua conta ou ajustar as suas preferências de comunicação por e-mail iniciando sessão na sua conta e atualizando as suas definições.</p>

    <h3>RGPD e Direitos dos Titulares de Dados da UE</h3>
    <p>O Regulamento Geral de Proteção de Dados (RGPD) é uma legislação da União Europeia que estabelece regras e direitos relacionados ao processamento de dados pessoais. Aqui estão alguns dos principais direitos dos titulares de dados sob o RGPD:</p>

    <ol>
      <li><strong>Direito à Informação (Artigo 13 e 14):</strong> Os titulares de dados têm o direito de ser informados sobre como os seus dados pessoais estão a ser processados. Esta informação deve ser clara, transparente e facilmente compreensível.</li>
      <li><strong>Direito de Acesso (Artigo 15):</strong> Os titulares de dados têm o direito de obter confirmação de que os seus dados pessoais estão ou não a ser processados, e, quando o forem, têm o direito de aceder a esses dados.</li>
      <li><strong>Direito de Retificação (Artigo 16):</strong> Os titulares de dados têm o direito de solicitar a retificação dos seus dados pessoais imprecisos ou incompletos.</li>
      <li><strong>Direito de Eliminação (Artigo 17):</strong> Também conhecido como "direito ao esquecimento", os titulares de dados têm o direito de solicitar a eliminação dos seus dados pessoais sob certas condições, como a retirada do consentimento ou a falta de uma base legal para processamento.</li>
      <li><strong>Direito à Limitação do Processamento (Artigo 18):</strong> Os titulares de dados têm o direito de solicitar a limitação do processamento dos seus dados em determinadas situações, por exemplo, durante a verificação da precisão dos dados.</li>
      <li><strong>Direito de Portabilidade dos Dados (Artigo 20):</strong> Os titulares de dados têm o direito de receber os dados pessoais que forneceram a uma organização, em um formato estruturado, comum e legível por máquina, e têm o direito de transmitir esses dados a outra organização.</li>
      <li><strong>Direito de Oposição (Artigo 21):</strong> Os titulares de dados têm o direito de se opor ao processamento dos seus dados pessoais em certas circunstâncias, como para fins de marketing direto.</li>
      <li><strong>Tomada de Decisões Automatizadas, Incluindo a Definição de Perfis (Artigo 22):</strong> Os titulares de dados têm o direito de não serem sujeitos a decisões baseadas unicamente em processamento automatizado, incluindo a definição de perfis, que produzam efeitos legais significativos ou afetem-nos de forma semelhante.</li>
      <li><strong>Direito de Apresentar Reclamação a uma Autoridade de Controlo (Artigo 77):</strong> Os titulares de dados têm o direito de apresentar uma reclamação a uma autoridade de controlo, se considerarem que o processamento dos seus dados pessoais viola o RGPD.</li>
    </ol>

    <h2>Encarregado de Proteção de Dados</h2>
    <p>Para exercer qualquer um destes direitos ou se tiver alguma dúvida sobre a forma como tratamos os seus dados, envie-nos um e-mail para <a href="mailto:email@isep.ipp.pt">email@isep.ipp.pt</a>. Comprometemo-nos a responder aos seus pedidos prontamente e dentro dos prazos exigidos pelo RGPD. Se necessário, este tempo de resposta pode ser alargado em determinadas circunstâncias.</p>

    <h2>Segurança</h2>
    <p>Garantimos que os dados pessoais dos nossos utilizadores são conservados de forma segura, mediante a implementação de protocolos de segurança robustos. Utilizamos métodos avançados de encriptação para proteger a integridade das informações durante a transmissão e armazenamento. Acesso aos dados é estritamente controlado, apenas concedido a pessoal autorizado, com medidas rigorosas para prevenir acessos não autorizados.</p>
    <p>Adicionalmente, realizamos monitorização contínua para identificar e responder a atividades suspeitas, assegurando a deteção precoce de potenciais ameaças. Mantemos as nossas infraestruturas e sistemas atualizados com as últimas correções de segurança, garantindo proteção contra vulnerabilidades conhecidas. A formação contínua dos colaboradores é promovida para assegurar uma compreensão e adesão às melhores práticas de segurança.</p>
    <p>O nosso compromisso com a segurança dos dados persiste independentemente de futuras afiliações ou parcerias, e adotaremos sempre os padrões mais rigorosos. Assim, os utilizadores podem confiar plenamente que os seus dados pessoais estão seguríssimos, refletindo o nosso empenho em proporcionar um ambiente online seguro e confiável.</p>

    <h2>Crianças</h2>
    <p>Os Serviços destinam-se a utilizadores com idade superior a 18 anos e não são dirigidos a crianças com idade inferior a 13 anos. Se tivermos conhecimento de que recolhemos informações pessoais (conforme definido na Lei de Proteção da Privacidade Online das Crianças) de crianças com idade inferior a 13 anos, ou dados pessoais (conforme definido no RGPD da UE) de crianças com idade inferior a 16 anos, tomaremos medidas razoáveis para os eliminar assim que possível.</p>

    <h2>Versão e Alterações</h2>
    <p>Comprometemo-nos a manter a transparência e a informar os utilizadores sobre quaisquer alterações significativas na nossa plataforma. A versão atual da nossa aplicação e qualquer alteração subsequente será claramente comunicada aos utilizadores. Este compromisso visa garantir que todos estejam cientes das evoluções na plataforma, assegurando uma experiência informada e confiável.</p>

    <p>Quando efetuamos alterações na aplicação que afetam a política de privacidade ou outros termos importantes, notificamos os utilizadores através de meios apropriados, como mensagens na plataforma, e-mails ou outras formas de comunicação direta. Estamos empenhados em manter os utilizadores informados sobre qualquer atualização que possa impactar a forma como os dados são processados ou como a plataforma é utilizada.</p>

    <p>Além disso, encorajamos os utilizadores a reverem regularmente os termos de serviço, a política de privacidade e quaisquer documentos relacionados disponibilizados na nossa plataforma, para estarem atualizados sobre as condições de utilização e eventuais alterações.</p>

    <p>O nosso objetivo é proporcionar uma experiência transparente e informada aos utilizadores, refletindo o nosso compromisso contínuo com a honestidade e a melhoria constante da nossa plataforma.</p>

    <div class="buttons">
      <button id="accept" (click)="accept()">Accept</button>
      <button id="deny" (click)="decline()">Decline</button>
    </div>
  </div>
</div>
</html>
