<div class="div-template">
    <h2>User Information</h2>
    <p><strong>First Name:</strong> {{ user.firstName }}</p>
    <p><strong>Last Name:</strong> {{ user.lastName }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Role:</strong> {{ user.role }}</p>
    <button (click)="deleteAccount()">Delete Account</button>
</div>
<div class="div-template">
    <app-download></app-download>
</div>
<div class="div-template">
  <button class="logout bottom-logout" (click)="logout()">
    <div id="button-content">
    <img src="../../../../assets/_images/logout_icon.png" alt="logout">
    <span>Logout</span>
    </div>
  </button>
</div>
