<head>
  <title>{{title}}</title>
</head>
<div class="not-found">
  <img src="./assets/_images/404-image.png" alt="Funny 404 Image">
  <h1>Oops! 404 - Not Cool!</h1>
  <p>Looks like you've stumbled into the void of the internet.</p>
  <p>Don't worry, our highly trained monkeys are working to bring you back.</p>
  <p>In the meantime, here's a joke:</p>
  <p class="joke">Why did the web developer go broke? Because he lost his cache!</p>
  <p>Hang in there, and you'll be back to the land of cat videos and memes in no time.</p>
</div>
